h1 {
    
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 80px;
    color: white;
}



h2 {

    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p {
    font-family: Helvetica, sans-serif;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width: 800px;
    color: white;
}

a {

    text-align: center;
    color: rgb(70, 157, 227);
}

/*373A40*/
body {background-color: #373A40;}